
body {
    background: url("15561a4f25e68c9.jpg"); 
	 background-repeat: no-repeat;
   /* background-size: cover;*/

}  

* {
  box-sizing: border-box;
}

/*------------------------------------*
 
formulaire d'enregistrement
\*------------------------------------*/

/* boîte */
#regForm {
  background-color: #F2F2F2;
  margin: 2% 5% auto auto;
  font-family: Raleway;
  padding: 40px;
  width: 30%;
  min-width: 300px;
 opacity: 0.9;
   border-radius: 10%;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 2px solid #aaaaaa;
}

/*
Marquer les zones de saisie qui reçoivent une 
erreur lors de la validation */

input.invalid {
  background-color: #ffdddd;
}

/* Masquer toutes les étapes par défaut */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%; 
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
